body {
    box-sizing: border-box;
    background-image: url("../images/4.jpg");
} 

.fa {
    color: cyan;
}
.container {
    
}
.person {
    border: 10px solid transparent;
    width: 100%;
    height: auto;
    opacity: 0.7;
}




.person:hover {
    opacity: 1.0;
    border-color: azure;
    transition-duration: 0.2s;
}

  h4 {
      
      color: azure;
  }

  h1 {
      font-weight: bolder;
      color: aliceblue;
  }

  h3 {
      
      color: aquamarine;
  }