body{
    box-sizing: border-box;
    font-family: 'Mukta';
    background-image: url("../images/4.jpg");
}
.container {
    max-width: 400px;
    background-color: gainsboro;
    box-shadow: 1px 1px 25px 15px black;
    border-radius: 10px;
    margin-top: 80px;
}

hr {
    height: 3px;
    background-color: black;
   
    }

@media screen and (max-width: 600px){
    .container{
        width: 96%;
    }
}

h1{
    font-weight: bolder;
}
