body {
    box-sizing: border-box;
    background-image: linear-gradient(black,gray);
    font-family: 'Mukta';
} 

.fa {
    color: cyan;
}

.person {
    border: 10px solid transparent;
    width: 100%;
    height: auto;
}


.person:hover {
    border-color: azure;
    transition-duration: 0.2s;
}

  h4 {
      
      color: azure;
  }

  h1 {
      font-weight: bolder;
      color: aliceblue;
  }

  h3 {
      
      color: aquamarine;
  }