body {
    background-image: linear-gradient(black,gray);
   box-sizing: border-box;
   font-family: 'Mukta';
}

.person {
    border: 10px solid transparent;
    width: 100%;
    height: auto;
}

.person:hover {
    border-color: aliceblue;
    transition-duration: 0.2s;
}


h1 {
    font-weight: bolder;
    color: aliceblue;
}

h4 {
    color: aquamarine;
}

h5 {
    color: azure;
}

.fa {
    color: cyan;
}