body {
    box-sizing: border-box;
    background-image: url("../images/4.jpg");
} 

.fa {
    color: cyan;
}
.container {
    padding: 25px;
}
.person {
    border: 10px solid transparent;
    opacity: 0.7;
    margin-bottom: 25px;
}

ul li a {
    font-size: 1.2em;
}

.row .collapse {
    padding-top: 4px;

}

.person:hover {
    opacity: 1.0;
    border-color: azure;
    transition-duration: 0.2s;
    transform: scale(1.15);
}

.navbar-brand {
    padding: 0px;
  }
  .navbar-brand img {
    height: 100%;
    padding: 0px 0px 0px 20px;
    width: auto;
  }

   p {
       font-size: 1.5em;
      font-weight: bolder;
      color: aliceblue;
  }

  h1 {
      font-weight: bolder;
      color: aliceblue;
  }

  h3 {
      font-weight: bolder;
      color: aquamarine;
  }